.react-select__control {
    max-height: 44px !important;
    padding: 8px 12px !important;
    border-radius: 6px !important;
    border: 1px solid var(--Black-200, #E6E6EA) !important;
    
}

.react-select__value-container {
    padding: 0 !important;
    line-height: 140% !important;
}

.react-select__indicator-separator {
    display: none;

}

.react-select__indicators {
    display: none;
}

.eact-select__indicator {
    display: none;
}

.react-select__menu {

}

.react-select__menu-list {

}

.react-select__option {

}