.rc-slider {
    max-width: 315px;
    width: 100%;    
}

.rc-slider-step {
    height: 6px;

}

/* Rail style */
.rc-slider-rail {
    height: 6px;
    border-radius: 20px;
    background: var(--Gray-200, #EFF4FE);
}

/* Track style */
.rc-slider-track {
    height: 6px;
    background: var(--Primary-400, #5680FF);
}

/* Handle style */
.rc-slider-handle {

    background: var(--Primary-400, #5680FF);
    opacity: 1;
    margin-top: -4px;
    cursor: pointer;
    border: none;

}

.rc-slider-handle::before {
    content: "";
    position: absolute;
    width: 1px;
    background: white;
    height: 5px;
    top: 30%;
    left: 35%;
}

.rc-slider-handle::after {
    content: "";
    position: absolute;
    width: 1px;
    background: white;
    height: 5px;
    top: 30%;
    left: 55%;
}

.rc-slider-handle:active {
    border-color: var(--Primary-400, #5680FF);
    box-shadow: 0 0 5px var(--Primary-400, #5680FF);
    cursor: pointer;
}

.rc-slider-handle:focus-visible {
    border-color: var(--Primary-400, #5680FF);
    box-shadow: 0 0 0 3px var(--Primary-400, #5680FF);
}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
    border-color: var(--Primary-400, #5680FF);
    box-shadow: 0 0 0 5px var(--Primary-400, #5680FF);
}


.tooltip-prefix-inner {
    display: inline-block;
    text-align: center;
    color: var(--Black-100, #FFF);;
    background: var(--Primary-400, #5680FF);
    padding: 0 6px;
    border-radius: 2px;
    font-weight: 500;
    line-height: 140%;
}

.tooltip-prefix-placement-top {
    display: inline-block;

}