@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/tailwind.css';

/* form input {
    @apply w-full outline-none  border border-slate-300 rounded-xl;
}

img{
    @apply rounded-md;
}
 */

    body {
        font-family: 'Roboto', sans-serif;
        
    }
    ::-webkit-scrollbar{
        display: none;
    }

    .font-poppins {
        font-family: 'Poppins', sans-serif;
    }


    