@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/tailwind.css';

/* form input {
    @apply w-full outline-none  border border-slate-300 rounded-xl;
}

img{
    @apply rounded-md;
}
 */

    body {
        font-family: 'Roboto', sans-serif;
    }

    .font-poppins {
        font-family: 'Poppins', sans-serif;
    }


    .horizontal-slider {
        width: 100%;
        max-width: 500px;
        height: 50px;
        border: 1px solid grey;
    }

    .horizontal-slider .example-track {
        top: 20px;
        height: 10px;

    }

    .example-track.example-track-0 {
        background-color: red;

    }

    .example-track.example-track-1 {
        background-color: rgb(78, 10, 167);

    }

    .example-track.example-track-2 {
        background-color: red;

    }

    .horizontal-slider .example-thumb {
        top: 1px;
        width: 50px;
        height: 48px;
        line-height: 38px;
        font-size: 0.9em;
        text-align: center;
        background-color: black;
        border-radius: 50%;
        color: white;
        cursor: pointer;
        border: 5px solid gray;
        box-sizing: border-box;
    }
